* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .footer_bottom {
    background-color: rgb(48,61,78) ;
    height: 75px;
}

.content {
    background-color: red;
    height: 500px;
}

.content_sm {
    background-color: blue;
    height: 50px;
}

.container_80 {
    width: 80%;
    margin: 0 auto;
}

#start_bootstrap, #about{
    background-color: rgb(88,185, 157);
}

.footer_top {
    background-color: rgb(62,82,106);
}
